<Alloy>
	<Window id="menuWin">
		<View id="menuView">
			<View id="titleView">
				<Label id="title">Menu</Label>
				<Button id="closeBtn" onClick="closeWindow">X</Button>
			</View>
			<Button class="Btn" id="homeBtn" onClick="homeWindow">Home</Button>
			<Button class="Btn" id="myBtn" onClick="myOurchive">My Ourchive</Button>
			<Button class="Btn" id="photoBtn" onClick="addPhoto">Photo</Button>
			<Button class="Btn" id="videoBtn" onClick="addVideo">Video</Button>
			<Button class="Btn" id="textBtn" onClick="addText">Text</Button>
			<Button class="Btn" id="audioBtn">Audio</Button>
			<Button class="Btn" id="eventBtn" onClick="addEvent">New Event</Button>
			<Button class="Btn">All Events</Button>
			<Button class="Btn" id="settingsBtn" onClick="settings">Settings</Button>
		</View>
	</Window>
</Alloy>